/* Reset styles for browsers */
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Hero image styles */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 1.5em;
}

#hero img {
    width: 100%;
    max-width: 1200px;
}

/* Main styles */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.55;
    background-color: #1B3A2F;
    color: #0B1A17;
    padding: 1em;
}

header {
    background-color: #F7F1E6;
    text-align: center;
    padding: 1em 0;
    max-width: 1200px;
    margin: auto auto;
    margin-bottom: 1.5em;
    align-items: center;
}

header h3 {
    font-family: "Comic Sans MS", "Chalkboard SE", "Marker Felt", cursive, sans-serif;
    font-size: 1em;
}

.header-container {
    display: flex;
    gap: 1em;
}

.header-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 0 1em;
}

.header-text h1 {
    padding-top: 0.25em;
}

.logo {
    max-height: 10em;
    width: auto;
    padding-left: 3em;
}

.presents {
    color: #0B1A17;
}

.header-link {
    color: #0B1A17;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Georgia, "Times New Roman", serif;
    font-weight: bold;
    margin: 0 0 0.5em;
    line-height: 1.3;
    color: #0B1A17;
}

p {
    color: #2E2E1F;
}

main {
    background-color: #F7F1E6;
    color: #1B3A2F;
}

main div, main section {
    padding: 3% 10%;
    padding-bottom: 0;
}

a {
    color: #9C6F36;
    text-decoration: none;
}

a:hover {
    color: #855C2B;
}

/* Event info box */

.event-info-box {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5% 2%;
}

.event-expect, .event-details {
    flex: 1 1 45%;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

/* List styles */

ul {
    padding: 1em;
}

ul li {
    color: #2E2E1F;
    padding-bottom: 0.5em;
}

/* Footer Styles */

footer {
    text-align: center;
    font-size: 0.85em;
    padding: 3%;
}

footer p {
    color: #F7F1E6;
}

footer a {
    color: #B5884A;
    text-decoration: none;
}

footer a:hover {
    color: #A16C34;
}

.copyright {
    font-style: italic;
    font-size: 0.85em;
}

/* Call To Action button styles */

.cta-button {
    display: inline-block;
    margin: 1em auto 0 auto;
    text-align: center;
    background-color: #916D3B;
    color: #fff;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.cta-button:hover {
    background-color: #A16C34;
}

.register-now {
    text-align: center;
    padding: 0 0 2em 0;
}

/* Form stlyes */

main div form, main section form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2% 5%;
    background-color: #f7f1e6;
    color: #1b3A2F;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-top: 1em;
    font-weight: bold;
}

.form-box {
    padding: 0 0 2.5em 0;
}

.submit-button {
    background-color: #916D3B;
    color: #fff;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    font-weight: bold;
    display: block;
    margin-top: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

/* Social icon styles */

.social {
    text-align: center;
}

.social img {
    width: 40px;
    height: 40px;
    padding: 0 0.5em;
}

.social img:hover {
    opacity: 0.8;
}

/* Style for thank you text */

.thank-you {
    text-align: center;
    font-size: 1.15em;
}

/* Styles for embedded map */

.map-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0;
}

/* Style for farewell text */

.farewell-text {
    text-align: center;
    font-size: 1.25em;
}

/* Mobile view media query */

    @media screen and (max-width: 655px) {

        header {
            flex-direction: column;
        }

        .header-text {
            position: static;
            transform: none;
        }

        .logo {
            padding-left: 0;
        }

        main div, main section {
            padding: 5% 10%;
        }

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.25em;
        }

        h3 {
            font-size: .90em;
        }

        p {
            font-size: .85em;
        }

        ul li {
            font-size: .85em;
        }

        .cta-button {
            padding: 0.5em 1em;
            font-size: 1em;
        }

        .event-info-box {
            display: block;
        }

        .event-details, .event-expect {
            padding: 2% 5%;
        }


    }

/*Tablet view media query */

    @media screen and (min-width: 656px) and (max-width: 1014px) {

        .logo {
            padding-left: 0;
        }

        main {
            max-width: 100%;
            margin: 0 auto;
        }

        main div, main section {
            padding: 3% 5%;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

    }

/* Desktop view media query */
    @media screen and (min-width: 1015px) {

        main {
            max-width: 1200px;
            margin: 0 auto;
        }

        main div, main section {
            padding: 3% 5%;
        }

    }